@import url(https://fonts.googleapis.com/css?family=Charmonman);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #f8f2ed;
} 

h1 {
  font-family: "Charmonman";
  font-size: 130px;
  color: #f8f2ed;
}

h2 {
  font-family: "Playfair Display";
  font-size: 50px;
  letter-spacing: 4px;
  color: #222120;
  text-align: center;
}

h3 { 
  font-family: "Playfair Display";
  font-size: 30px;
  letter-spacing: 4px;
  color: #222120;
  text-align: center;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #8F6D51;
  margin-right: 15%;
  margin-left: 15%;
  text-align: center;
}

hr {
  border-top: 1px solid #8F6D51;
  margin-right: 15px;
  margin-left: 15px;
}

/* span tekstin asetukset */
.nosto {
  font-size: 20px;
  color: #222120;
  font-weight: bold;
}


/* Linkkien tyylit */
a:link {
  color: #222120;
  background-color: transparent;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

a:visited {
  color: #6d6c6b;
  background-color: transparent;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  color: #996134e1;
  background-color: transparent;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/* Etusivukuvan asetukset */
.bg-img {
  background-image: url("front3.jpg");
  width: 100%; 
  min-height: 710px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
  }
  
  /* Navin sijainti kuvan sisällä */
  .container { 
    width: auto; 
  }
  
  /* Navigointi */
  .topnav {
    overflow: hidden;
    background-color: #f8f2ed;
    opacity: 0.8;
    font-family: "Charmonman";
    color: #222120;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: -12px;
  }
  
  .topnav a {
    float: right;
    color: #222120;
    text-align: center;
    padding: 14px 16px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 18px;
  }
  
  .topnav a:hover {
    color: #f8f2ed;
    background-color: #222120;
    opacity: 0.8;
  }

  /* Tekstin asettelu etusivun kuvassa */
  .centered {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  /* Kuvalinkkien asetukset */
  .container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .container2,
  .container3,
  .container4 {
    position: relative;
    width: calc(33.33% - 2%); 
    margin: 1%; 
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container2:hover .image,
  .container3:hover .image,
  .container4:hover .image {
    opacity: 0.3;
  }

  .container2:hover .middle,
  .container3:hover .middle,
  .container4:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: #f8f2ed;
    color: black;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    padding: 16px 32px;
  }
  
  .footer {
    font-family: "Open Sans", sans-serif;
    color: #8F6D51;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
  }

  /* iso näyttö */
  @media only screen and (min-width: 1200px) {
  .bg-img {
    min-height: 900px;
  }
  h1 {
    font-size: 130px;
  }
  .centered {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .icon {
    display: none;
  }
    
  }
  
/* tabletti */
 @media only screen and (min-width: 600px) {
  .bg-img {
    height: 600px;
  }
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 35px;
  }
  .centered {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .icon {
    display: none;
  }
  }
   
/* mobiili */
  @media only screen and (max-width: 600px) {
  .bg-img {
    background-image: url("frontmobile2.jpg");
    height: 450px; 
  }
    
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }
  .container2,
  .container3,
  .container4 {
      width: calc(50% - 2%);
  }
  .container2,
  .container3,
  .container4 {
      width: 100%; 
      margin: 0 0 20px 0; 
  }
  .centered {
    display: none;
  }
  .topnav a {
    display: none; 
  }
  
  .topnav a.icon {
    float: right;
    display: block;
  }
  
  .topnav.responsive {
    position: relative;
  }
  
  .topnav.responsive a {
    display: block;
    float: none;
    text-align: left;
  }
  }
    
  

  