@import url(https://fonts.googleapis.com/css?family=Charmonman);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #f8f2ed;
} 

h1 {
    font-family: "Playfair Display";
    font-size: 45px;
    letter-spacing: 4px;
    color: #222120;
    text-align: center;
    margin-left: 30px;
}

h2 {
    font-family: "Playfair Display";
    font-size: 35px;
    letter-spacing: 4px;
    color: #222120;
    text-align: center;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #8F6D51;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
}

/* Linkkien tyylit */
a:link {
  color: #222120;
  background-color: transparent;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

a:visited {
  color: #6d6c6b;
  background-color: transparent;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  color: #996134e1;
  background-color: transparent;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

  /* Navigointi */
  .topnav {
    overflow: hidden;
    background-color: #f8f2ed;
    opacity: 0.8;
    font-family: "Charmonman";
    color: black;
    text-align: left;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 24px;
    border-bottom: 1px solid #939393;
    margin-top: 12px;
    margin-bottom: -12px;
  }

  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 18px;
  }
  
  .topnav a:hover {
    color: #f8f2ed;
    background-color: black;
    opacity: 0.8;
  }

  #valittu {
    color: #f8f2ed;
    background-color: black;
    opacity: 0.8;
  }


  /* Kuvan asetukset */
  .container {
    display: flex;
    align-items: left;
    justify-content: start;
  }
  
  img {
    width: auto;
    max-width: 100%;
    min-width: 333px;
    height: auto;
    max-height: 100%;
    min-height: 500px;
    margin-left: 5%; /* Adjust margin for smaller screens */
    margin-right: 5%; /* Adjust margin for smaller screens */
    margin-top: 10%; /* Adjust margin for smaller screens */
    border: 5px solid #222120;
    border-radius: 30px;
    float: left;
  }
  
  /* Kuvan viereinen teksti */
  .text {
    font-size: 16px;
    padding-left: 20px;
    padding-top: 2%; /* Adjust padding for smaller screens */
    padding-right: 20px;
    text-align: center; /* Center the text on smaller screens */
  }

  @media screen and (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column; /* Change flex direction to column for smaller screens */
      align-items: center; /* Center items on smaller screens */
    }
  
    img {
      width: 80%; /* Adjust image width for smaller screens */
      margin-left: 0; /* Remove left margin on smaller screens */
      margin-right: 0; /* Remove right margin on smaller screens */
      margin-top: 5%; /* Adjust margin for smaller screens */
    }
  
    .text {
      padding-top: 5%; /* Adjust padding for smaller screens */
      text-align: center; /* Center the text on smaller screens */
    }
  }

  .footer {
    font-family: "Open Sans", sans-serif;
    color: #8F6D51;
    font-size: 14px;
    position: static;
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
  }