@import url(https://fonts.googleapis.com/css?family=Charmonman);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #f8f2ed;
} 

h1 {
  font-family: "Playfair Display";
  font-size: 45px;
  letter-spacing: 4px;
  color: #222120;
  text-align: center;
}

h2 {
  font-family: "Playfair Display";
  font-size: 35px;
  letter-spacing: 4px;
  color: #222120;
  text-align: center;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #8F6D51;
  text-align: center;
}

/* Linkkien tyylit */
a:link {
  color: #222120;
  background-color: transparent;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

a:visited {
  color: #6d6c6b;
  background-color: transparent;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

a:hover {
  color: #996134e1;
  background-color: transparent;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

    
  /* Navigointi */
  .topnav {
    overflow: hidden;
    background-color: #f8f2ed;
    opacity: 0.8;
    font-family: "Charmonman";
    color: #222120;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: -12px;
  }
    
  .topnav a {
    float: right;
    color: #222120;
    text-align: center;
    padding: 14px 16px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 18px;
  }
    
  .topnav a:hover {
      color: #f8f2ed;
      background-color: #222120;
      opacity: 0.8;
  }

  #valittu {
      color: #f8f2ed;
      background-color: black;
      opacity: 0.8;
  }
  
  /* Tekstin ja kartan asettelu */
  .container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  .text {
    font-size: 20px;
    margin-bottom: 2%;
  }

.footer {
  font-family: "Open Sans", sans-serif;
  color: #8F6D51;
  font-size: 14px;
  position: static;
  display: flex;
  justify-content: center;
  padding: 30px 10px;
  text-align: center;
}  

/* mobiili */
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
.topnav a {
  display: none; 
}
.topnav a.icon {
  float: right;
  display: block;
}
.topnav.responsive {
  position: relative;
}
.topnav.responsive a {
  display: block;
  float: none;
  text-align: left;
} 
.container {
  width: 95%;
  margin-left: 2%;
  margin-right: 2%;
}

}

/* tabletti */
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 40px;
  }
  .topnav a {
    display: none; 
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a {
    display: block;
    float: none;
    text-align: left;
  } 
  .container {
    width: 95%;
    margin-right: 2%;
    margin-left: 2%;
  }
  }
  /* pienempi tietokoneen näyttö */
  @media (min-width: 1000px) {
    h1 {
      font-size: 45px;
    }
    .icon {
      display: none;
    }
    .container {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
    }
    }
  
  /* iso näyttö */
  @media only screen and (min-width: 1600px) {
  h1 {
    font-size: 50px;
  }
  .icon {
    display: none;
  } 
  .container {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  }