@import url(https://fonts.googleapis.com/css?family=Charmonman);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #F8F3EE;
} 

h1 {
    font-family: "Charmonman";
    font-size: 46px;
    color: #222120;
}

h2 {
    font-family: "Playfair Display";
    font-size: 30px;
    letter-spacing: 4px;
    color: #222120;
}

h3 { 
    font-family: "Playfair Display";
    font-size: 26px;
    letter-spacing: 4px;
    color: #222120;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #8F6D51;
}