@import url(https://fonts.googleapis.com/css?family=Charmonman);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #f8f2ed;
} 

h1 {
    font-family: "Charmonman";
    font-size: 90px;
    color: #f8f2ed;
}

h2 {
    font-family: "Playfair Display";
    font-size: 38px;
    letter-spacing: 4px;
    color: #222120;
    text-align: center;
}

h3 { 
    font-family: "Playfair Display";
    font-size: 30px;
    letter-spacing: 4px;
    color: #222120;
    text-align: center;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #8F6D51;
    margin-right: 70px;
    margin-left: 70px;
    text-align: center;
}

.bg-img {
    /* The image used */
    background-image: url("front2.jpg");
  
    width: 105%; 
    min-height: 710px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -10px;
    margin-right: -50px;
    margin-top: -10px;
    
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: right;
    width: auto;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: #f8f2ed;
    opacity: 0.8;
    font-family: "Charmonman";
    float: right;
    color: #222120;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Navbar links */
  .topnav a {
    float: right;
    color: #222120;
    text-align: center;
    padding: 14px 16px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 18px;
  }
  
  .topnav a:hover {
    color: #f8f2ed;
    background-color: #222120;
    opacity: 0.8;
  }